@import "../../styles/variables.scss";

.menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $colour-black;

  transition: transform 0.25s ease-in-out;
  -moz-transition: transform 0.25s ease-in-out;
  -webkit-transition: transform 0.25s ease-in-out;

  &.menuOpen {
    transform: translateX(0);
  }

  &.menuHidden {
    transform: translateX(-100%);
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;

    & li {
      margin: 0;
      padding: spacing(2);

      & a {
        color: $colour-white;
        text-decoration: none;
        font-size: 24px;
        &:hover {
          color: $colour-orange;
          transition: color 0.25s ease-in-out;
        }

        &:focus-visible {
          @include focus-visible-outline();
        }
      }
    }
  }
}
