$spacing-unit: 8px;

@function spacing($multiplier) {
  @return $spacing-unit * $multiplier;
}

@mixin focus-visible-outline() {
  &:focus-visible {
    outline: 2px solid $colour-orange;
    outline-offset: 2px;
  }
}

// Colours
$colour-black: #000000;
$colour-white: #ffffff;
$colour-orange: #fcbd1b;
